
@media(min-width: 768px) and (max-width: 1200px){
    [class*="col-"]{
        width: 100%;
    }
 
}

@media(min-width: 309px) and (max-width: 767px){
    [class*="col-"]{
        width: 100%;
    }
    .contact{
     margin-left: 12%;
    }
     .fa-bars{
      display: inline-block;
      color: white;
      margin-left: 280px;
      text-align: right;
      margin-top: -100px;


    }
    .menu{
      display: none;
    }

   
  
}