
@media(min-width: 768px) and (max-width: 1200px){
    [class*="col-"]{
        width: 100%;
    }
 
}

@media(min-width: 309px) and (max-width: 767px){
    [class*="col-"]{
        width: 100%;
    }
    .contact{
     margin-left: 12%;
    }
     .fa-bars{
      display:block;
      color: white;
      margin-left: 320px;
      margin-top: -65px;
    }
    .menu{
      display: none;
      width: 50%;
    }
}